.main {
  max-width: 48rem;
  padding: var(--cui-spacings-tera) var(--cui-spacings-mega);
  margin: 0 auto;
}

.intro {
  margin-top: var(--cui-spacings-mega);
}

.links {
  display: grid;
  gap: var(--cui-spacings-mega);
  margin-top: var(--cui-spacings-giga);
}

.card {
  padding: var(--cui-spacings-mega);
  border: var(--cui-border-width-kilo) solid var(--cui-border-normal);
  border-radius: var(--cui-border-radius-mega);
}
