.header {
  margin-bottom: var(--cui-spacings-giga);
}

.section {
  margin-top: var(--cui-spacings-giga);
}

.line {
  padding: var(--cui-spacings-mega) 0;
  border-bottom: var(--cui-border-width-kilo) solid var(--cui-border-divider);
}

.lineHead {
  display: flex;
  gap: var(--cui-spacings-mega);
  justify-content: space-between;
  margin-bottom: var(--cui-spacings-byte);
}

.totals {
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: var(--cui-spacings-byte) var(--cui-spacings-giga);
  max-width: 36rem;
}

.totals dd {
  margin: 0;
  text-align: right;
}
